@charset "utf-8";
/********** css responsive init**********/
html,body{height: 100%;}
body{background: skyblue;}
.container{width: 1200px;margin: 0 auto;}
.navbar{
    display: flex; padding: 16px 16px;
    background: #ccc;
}
.navbar h1{margin-right: 15px;}
.topNav{
    display: flex;
    height: 100%;
}
.topNav a{
    display: flex;align-items: center;
    padding: 0 20px;
   
}
.topNav a:hover{background: pink;}
.topNav a i{margin-right: 5px;}

/* toggle */
.toggleMenu{
    width: 43px;
    background: blue;
    margin-left: auto;
    display: none;
    
}

.bg-primary{background: pink;}


/********** css responsive **********/
@media (max-width: 1399px) {
    body{background: orange;}
    .container{width: 100%;}
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {
    body{background: green;}
    .container{width: 100%;}

    .topMenu{
        background: pink;
        position: fixed;
        width: 100%; height: 100%;
        left: -100%; top: 0;

        display: flex;justify-content: center;align-items: center;
        transition: 0.3s;
    }
    .topMenu.active{
        left: 0;
    }
    .topNav{ 
        _display: block; 
        flex-direction: column;
        height: initial; 
        background: red;
    }
    .topNav a {
        height: 40px;
    }

    .toggleMenu{
        display: block; margin-left: auto;
        position: relative; z-index: 1;
    }
}

@media (max-width: 575px) {

}