$fcolor:#333;
$pcolor:#fff;

*{margin: 0;padding: 0;color: $fcolor;}
a:visited,a:link{text-decoration: none; color: inherit;}
li{list-style: none;}

.navTop{
    position: fixed; z-index: 1;
    background: $pcolor;
    width: 100%;
    display: flex;
    .gnb{
        margin-left: auto;
        &.active{background: pink;}
        ul{
            display: flex; height: 100%;
        }
        li{
            height: 100%;
            &.active,&:hover{background: pink;}
            a{
                height: 100%;
                padding: 0 20px;
                display: flex; justify-content: center;align-items: center;
            }
        }
    }

}

.Wrap{
    width: 100%;height: 100vh;
    display: flex;justify-content: center;align-items: center;
}